<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
  <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
   <section name="BGEE_Random_Character_Generator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
  </sectionGroup>
 </configSections>
 <add key="EPPlus:ExcelPackage.LicenseContext" value="NonCommercial" />
 <userSettings>
  <BGEE_Random_Character_Generator.Properties.Settings>
   <setting name="EPPlusLicenseContext" serializeAs="String">
    <value>NonCommercial</value>
   </setting>
  </BGEE_Random_Character_Generator.Properties.Settings>
 </userSettings>
</configuration>